version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    allow:
      - dependency-type: "all"
    ignore:
      - dependency-name: "*react-native*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
